body{
    font-family:balboa-plus-fill, canada-type-gibson, Helvetica, Arial, sans-serif;
margin:0;
padding:0;
}
header{
    width: 100%;
height: 46px;
display:flex;
}
.logo-area{
    margin:20px 20px;
}
header img{
    width:200px;
height: 60px;
}
header a{
    text-decoration: none;
    padding:20px 10px 20px 20px;
}
.anchor-link{
margin-top:45px;
padding-left: 109px;
padding-right:10px;
}
.anchor-link a{
    color:#F16623;
    font-size: 20px;
    font-weight: 700;

}
#order-pick-up{
  width:200px;
  height: 30px;
  text-align: center;
  background-color: #F16623;
  padding:20px 5px 0px 10px;
  margin:0;
}
h3{
    font-size: 20px;
    font-weight: 700;
}
#order-delivery{
    width:200px;
    height: 30px;
    text-align: center;
    background-color: #D1B499;
    padding:20px 5px 0px 10px;
    margin:0;
  }
  .order{
      margin-left: 150px;
  }
  .first-section{
      width:100%;
      height: 750px;
      background-image: url(burger-wallpaper1.jpg);
background-repeat: no-repeat;

  }  
  .most-wanted{
      font-size: 65px;
      padding-top:130px;
      padding-left: 40px;
      color:rgb(245, 235, 235);
  }
  h2{
      width: 460px;
      height: 40px;
      background-color:#F16623;
      color:white;
      font-size: 18px;
      padding-top:10px;
    margin-left: 50px;
    margin-top:-40px;
  }
  .border-area{
      display: flex;
      border:7px solid #F16623;
    margin:58px;
    padding:-20px;
    height: 320px;
    border-image: linear-gradient(blue,red)90;
  }
  .youtube-video{
      width: 50%;
      margin-bottom:-5px;
  }
  .grassfeed{
      width: 50%;
  }
  .grassfeed{
      width: 50%;
      font-weight: 700;
      color:gray;
      margin-bottom: 300px;
  }
  .why-grassfeed{
      font-size:40px;
      margin-top:60px;
      margin-bottom: 20px;
      color: #ff4500;
      font-size: 45px;
  }
  .grassfeed a{
      text-decoration:none;
      background-color:  #EC570F;
      color:white;
      padding:15px 40px;

  }
  .learn-more{
      margin-top:40px;
  }
  .big-letter{
      color:orangered;
      font-size: 70px;
      font-weight: 700;
      text-align: center;
  }
.section-3{
    display: flex;
    height: 400px;

}
.tomato{
    background-image:url(tomato.jpg);
    width:50%;
    background-position: center;
}
.sitting-men{
    width:50%;
    background-image:url(team.jpg);
    background-position: center;
    background-repeat: no-repeat;

}
.